*{
    font-family: "Teachers", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* NavBar */
.a-nav{
    text-decoration: none;
    font-size:145%;
    color: rgb(0, 162, 255);
    padding: 5px;
    border: 1px solid transparent;
    transition: transform .3s ease-out 0s;
    transition:0.5s;
}


.a-nav:hover{
    color:rgb(255, 253, 127);
    border-bottom-color: rgb(255, 251, 0);
    transform: scale(1.2);
    display: inline-block;
}

.img-logo{
    width: 45%;
    height: auto;
    transition: transform .3s ease-out 0s;
    transition:0.5s;
    
}

.img-logo:hover{
    transform: scale(1.2);
    filter: brightness(1.1);
}

/* Carrousel */

.banner {
    position: relative;
    background-size: cover;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39); 
    z-index: 1;
}

.banner .col-lg-6 {
    position: relative;
    z-index: 2;
}

@media (max-width: 767.89px){
    .card .img-fit{
    aspect-ratio: 1.45/1;
    }
}
.carousel-inner img {
    width: 100%; 
    height: 600px; 
    object-fit: cover; 
}

.caratula-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 10%; /* 300px */
    max-height:85%; /* 700px */
    margin-bottom: 1%;
  }
  

/* Footer */

.icon-footer{
    transition: transform .3s ease-out 0s;
    transition:0.5s;
}

.icon-footer:hover{
    transform: scale(1.2);
    filter: brightness(1.1);
    color:rgb(255, 253, 127);
}

.li-secciones{
    transition: transform .3s ease-out 0s;
    transition:0.5s;
}

.li-secciones:hover{
    color:rgb(255, 253, 127);
    transform: scale(1.2);
    filter: brightness(1.1);
}